@use "../utils/mixins" as m;
@use "../themes/colours" as c;

.converter-container {
  @include m.card-container(90%, rgba(35, 55, 80, 30%) 0 6px 12px, auto);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  overflow: hidden;

  h3 {
    color: c.$main-bg;
  }
}

.see-currencies {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  border-right: double c.$main-bg;
  padding: 2% 0;
  gap: 2rem;

  h3 {
    text-align: center;
    width: 100%;
  }
}

.display-currencies-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.convert-currencies {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2% 0;
  gap: 1rem;

  h3 {
    text-align: center;
    width: 100%;
  }
}

.users-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

//FORM
.currency-form {
  @include m.form-style(80%);
}

#amount {
  width: 90%;
  box-shadow: rgba(0, 17, 51, 5%) 0px 3px 15px;
  border-radius: 5px;
  padding: 2%;
  border: 1px solid rgb(221, 221, 221);
}

//BUTTONS STYLE
#get-currencies,
#clear-converter-inputs {
  @include m.main-button;
}

#get-currencies:hover,
#clear-converter-inputs:hover {
  animation: main-btn-hover 100ms ease-in forwards;
}

#invert-values {
  display: flex;
  justify-content: center;
  align-items: center;
  color: c.$button-border;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 1px solid rgb(221, 221, 221);
  cursor: pointer;
}

#clear-list-dashboard,
#calculate,
#clear-converter-dashboard {
  @include m.second-button;
}

#clear-list-dashboard:hover,
#calculate:hover,
#clear-converter-dashboard:hover {
  animation: secondary-btn-hover 100ms ease-in forwards;
}
