@use "../utils/mixins" as m;
@use "../themes/colours" as c;

.historical-rates-container {
  @include m.card-container(90%, rgba(35, 55, 80, 30%) 0 6px 12px);
  display: flex;
  flex-flow: row wrap;

  h3 {
    color: c.$main-bg;
  }
}

.historical-rates {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-right: double c.$main-bg;
  padding: 2% 0;
  gap: 2rem;

  h3 {
    text-align: center;
    width: 100%;
  }
}

.historical-rates-between {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2% 0;
  gap: 2rem;

  h3 {
    text-align: center;
    width: 100%;
  }
}

//BUTTON STYLE
#clear-historical-input,
#clear-historical-between-input {
  @include m.main-button;
}

#get-historical,
#get-historical-between,
#clear-historical-dashboard,
#clear-historical-between-dashboard {
  @include m.second-button;
}

#invert-between-values {
  display: flex;
  justify-content: center;
  align-items: center;
  color: c.$button-border;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 1px solid rgb(221, 221, 221);
}

//FORMS
.history-form,
.history-between {
  @include m.form-style(80%);
}

[data-historical],
[data-historical-between] {
  width: 90%;
  box-shadow: rgba(0, 17, 51, 5%) 0px 3px 15px;
  border-radius: 5px;
  padding: 2%;
  border: 1px solid rgb(221, 221, 221);
}
