@use "../utils/mixins" as m;
@use "../themes/colours" as c;

.historical-rates-container {
  @include m.card-container(90%, rgba(35, 55, 80, 30%) 0 6px 12px);
  display: flex;
  flex-flow: row wrap;
}

.historical-rates {
  width: 50%;
}

.historical-rates-between {
  width: 50%;
}
