@use "../utils/mixins" as m;
@use "../themes/colours" as c;

.latest-rates-container {
  @include m.card-container(90%, rgba(35, 55, 80, 30%) 0 6px 12px, auto);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 2%;

  h3 {
    color: c.$main-bg;
  }
}

.latest-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2% 0 0 0;
  gap: 1rem;
  width: 70%;
}

//BUTTONS STYLE
#clear-latest-inputs {
  @include m.main-button;
}
#clear-latest-inputs:hover {
  animation: main-btn-hover 100ms ease-in forwards;
}

#get-latest-v,
#clear-latest-dashboard {
  @include m.second-button;
}

#get-latest-v:hover,
#clear-latest-dashboard:hover {
  animation: secondary-btn-hover 100ms ease-in forwards;
}

//FORM STYLE

.latest-form {
  @include m.form-style(50%);
  padding: 2% 0;

  label {
    margin-bottom: 0;
  }
}
