@use "../utils/mixins" as m;
@use "../themes/colours" as c;

.latest-rates-container {
  @include m.card-container(90%, rgba(35, 55, 80, 30%) 0 6px 12px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

//BUTTONS STYLE
#get-latest-v,
#clear-latest-inputs {
  @include m.main-button;
}

#clear-latest-dashboard {
  @include m.second-button;
}
