@use "../themes/colours" as c;
@use "../utils/mixins" as m;

//850 px FIRST BREAKPOINT
@media (max-width: 850px) {
  //info section
  .info-container {
    h3,
    h4 {
      margin: 3% 2% 0.5%;
    }
    p {
      margin: 1% 2.5%;
    }
  }

  .see-currencies,
  .convert-currencies {
    width: 100%;
  }

  .convert-currencies {
    order: 1;
  }
  .see-currencies {
    order: 2;
  }

  .historical-rates,
  .historical-rates-between {
    width: 100%;
  }

  .historical-rates {
    order: 2;
  }

  .historical-rates-between {
    order: 1;
  }
}

//SECOND BREAKPOINT

@media (max-width: 700px) {
  .navbar {
    a:link,
    a:visited {
      font-size: 1rem;
    }
  }
}

//THIRD BREAKPOINT
@media (max-width: 600px) {
  .header {
    justify-content: center;

    .page-title {
      font-size: 1.5rem;
    }
  }
  .navbar {
    display: none;
  }
  .footer {
    height: 2.5rem;

    .foot-link {
      display: none;
      justify-content: center;
    }
    .hamburger {
      visibility: visible;
      width: 10%;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;

      i {
        font-size: 1.5rem;
      }
    }
  }
}
