@use "../themes/colours" as c;

@mixin card-container($width, $shadow, $height) {
  width: $width;
  height: $height;
  margin-bottom: 3rem;
  border-radius: 8px;
  box-shadow: $shadow;
  background-color: c.$main-font-color;
}

//BUTTONS
@mixin main-button {
  display: inline;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-width: 0px;
  width: auto;
  cursor: pointer;
  outline-offset: 4px;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: c.$button-border;
  background: none;
  border: 2px solid c.$button-border;
  border-radius: 8px;
}

@mixin second-button {
  display: inline;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-width: 0px;
  width: auto;
  cursor: pointer;
  outline-offset: 4px;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: c.$main-font-color;
  background: c.$button-border;
  border: 2px solid c.$button-border;
  border-radius: 8px;
}

//FORMS
@mixin form-style($width) {
  width: $width;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-weight: 500;

  select {
    box-shadow: rgba(0, 17, 51, 5%) 0px 3px 15px;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
    padding: 2%;
    width: 90%;
  }
}
