@use "../themes/colours" as c;

.footer {
  width: 100%;
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 5px 6px #444;
  background-color: c.$main-bg;

  a:link,
  a:visited {
    color: c.$main-font-color;
    text-decoration: none;
    font-size: 1.2rem;
  }
}
