@use "../themes/colours" as c;

.section {
  width: 100%;
  height: auto;
  position: absolute;
  top: 5rem;
  right: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.section-title {
  text-align: center;
  color: c.$main-bg;
  width: 100%;
  background-color: c.$secondary-bg;
  padding: 1.5%;
}

//FORMS STYLE
.form-style {
  width: 80%;
  display: flex;
  flex-flow: column;

  label {
    font-weight: 500;
  }
}
